.vs/template/v14/.suo
*.config
assets/font.png
clean.bat
*.dll
packages/System.Numerics.Vectors.4.1.1-beta-23516/lib/MonoAndroid10/_._
*.nupkg
packages/System.Numerics.Vectors.4.1.1-beta-23516/ref/xamarinmac20/_._
*._
Properties/AssemblyInfo.cs
*.csproj
template.csproj.user
template.v12.suo
obj/Debug/template.pdb
*.exe
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
obj/Debug/template.csproj.FileListAbsolute.txt
*.manifest
bin/Debug/template.pdb